extends layout

block content
    .row
        .col-md-6.col-md-offset-3
            h1 Add Song

            //- register form
            form(method='POST' action='/songs/add')
                //- if you're here from routes/index.js cause of the req.body.name stuff,
                //- Just check out the 'name' attributes on these input elements,
                //-  ... ya dingus.
                div.form-group
                    label(for='songTitle')
                        span * 
                        | Title:
                    input#songTitle.form-control(type='text' placeholder="Thuggin'" name='songTitle' required)
                div.form-group
                    label(for='songAlbum') Album:
                    input#songAlbum.form-control(type='text' placeholder='Pinata' name='songAlbum')
                div.form-group
                    label(for='songArtist')
                        span * 
                        | Artist:
                    input#songArtist.form-control(type='text' placeholder='Freddie Gibbs' name='songArtist' required)
                div.form-group
                    label(for='songYear') Year:
                    input#songYear.form-control(type='text' placeholder='2015' name='songYear')
                div.form-group
                    label(for='songBPM') BPM:
                    input#songBPM.form-control(type='text' placeholder='100' name='songBPM')
                div.form-group
                    label * denotes required field.
                button.btn.btn-primary(type='submit') Submit
