extends layout

block content
    .row
        .col-md-6.col-md-offset-3
            div.well
                p This form will make an ajax call and then display the artist's ID if it finds one
                p If it can't find one, it will simply say "No artist found"
            form#artistSearch
                div.form-group
                    label(for='searchArtist') Artist:
                    input#searchArtist.form-control(type='text', placeholder='Danny Brown' name='searchArtist')
                button.btn.btn-primary(type='submit') Submit
            h1#artistId
            hr/
    .row
        .col-md-6.col-md-offset-3
            div.well
                p This form takes an artist and will return all the albums for the first related artist.
                p I'm not sure what this can be used for in the future, this is just an exercise in AJAX/Spotify API
            form#longerRequest
                div.form-group
                    label(for='searchRelatedAlbums') Artist:
                    input#searchRelatedAlbums.form-control(type='text' placeholder='Danny Brown' name="searchRelatedAlbums")
                button.btn.btn-primary(type='submit') Submit
            div#relatedAlbums
                h1#mostRelatedArtist
                ul#albumList


block scripts
    script.
        (($) => {
            $('#artistSearch').submit((e) => {
                e.preventDefault();
                const searchParams = {artist: $('#searchArtist').val()};
                $.get('/spotify/test/getArtistId', searchParams, (data) => {
                    $('#artistId').text(data)
                });
            });
            $('#longerRequest').submit((e) => {
                e.preventDefault();
                const searchParams = {artist: $('#searchRelatedAlbums').val()};
                $.get('/spotify/test/getRelatedAlbums', searchParams, (data) => {
                    $('#mostRelatedArtist').text(data.shift());
                    const albumList = $('#albumList'),
                          oldAlbums = $('#albumList li');
                    oldAlbums.remove();
                    $.each(data, (i) => {
                        albumList.append("<li>" + data[i] + "</li>");
                    });
                });
            });
        })(jQuery);